.events {
	height:200px;
	width:300px;
	display:block;
	background-color:#004FFF;
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888;
}

.events:hover {
	background-color: rgba(16, 90, 255, 0.9);
}

.production {
	height:200px;
	width:300px;
	display:block;
	background-color:#ED1B24;
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888;
}

.production:hover {
	background-color: rgba(237, 27, 36, 0.9);
}

.marketing {
	height:200px;
	width:300px;
	display:block;
	background-color:#FF6100;
    -moz-box-shadow: 5px 5px 2px #888;
    -webkit-box-shadow: 5px 5px 2px #888;
    box-shadow: 5px 5px 2px #888;
}

.marketing:hover {
	background-color: rgba(255, 97, 0, 0.9);
}

.footer {
	background-color:#999999;
}

.footer-text {
	font-size:11px;
	color:#FFFFFF;
}